<div class="row justify-content-center animate-fade">
  <div class="col-md-6">
    <h1 class="text-center mb-4 text-white fw-bold">Login</h1>

    <!-- error mention -->
    <% if resource.errors.any? %>
      <div class="alert alert-danger shadow-sm animate-bounce" role="alert">
        <ul class="mb-0">
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- login -->
    <div class="card shadow-lg border-dark animate-slide-in">
      <div class="card-body">
        <%= form_with scope: :user, url: session_path(:user), local: true, class: 'form' do |f| %>
          <div class="mb-3">
            <%= f.label :email, "Email", class: "form-label fw-bold text-dark" %>
            <%= f.email_field :email, autofocus: true, class: "form-control border-dark shadow-sm", placeholder: "Enter your email" %>
          </div>

          <div class="mb-3">
            <%= f.label :password, "Password", class: "form-label fw-bold text-dark" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control border-dark shadow-sm", placeholder: "Enter your password" %>
          </div>

          <div class="mb-3 form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, "Remember me", class: "form-check-label" %>
          </div>

          <%= f.submit "Login", class: "btn btn-dark w-100 shadow-sm btn-lg" %>
        <% end %>
      </div>
    </div>

    <!-- Sign up and forgot password link -->
    <div class="text-center mt-3">
      <%= link_to "Sign up", new_user_registration_path, class: "text-decoration-none text-white fw-bold" %><br>
      <%= link_to "Forgot your password?", new_user_password_path, class: "text-decoration-none text-white fw-bold" %>
    </div>
  </div>
</div>
